.tiptap.ProseMirror {
  --blockquote-bg-color: var(--tt-gray-light-900);

  .dark & {
    --blockquote-bg-color: var(--tt-gray-dark-900);
  }
}

/* =====================
     BLOCKQUOTE
     ===================== */
.tiptap.ProseMirror {
  blockquote {
    position: relative !important;
    padding-left: 1em !important;
    padding-top: 0.375em !important;
    padding-bottom: 0.375em !important;
    margin: 1.5rem 0 !important;
    display: block !important;
    font-style: italic !important;
    color: var(--tt-gray-light-600) !important;

    .dark & {
      color: var(--tt-gray-dark-600) !important;
    }

    p {
      margin-top: 0 !important;
      display: block !important;
    }

    &::before,
    &.is-empty::before {
      position: absolute !important;
      bottom: 0 !important;
      left: 0 !important;
      top: 0 !important;
      height: 100% !important;
      width: 0.25em !important;
      background-color: var(--blockquote-bg-color) !important;
      content: "" !important;
      border-radius: 0 !important;
    }
  }
}
